/* imported google fonts */


/* globle styles */
body {
    position: relative;
    background-color: #ccc;
}

/* game area */
#game-zone-div {
    display: flex;
    justify-content: center;
    flex: row wrap;
}

#game-zone {
    background-color: #009900;
    width: 80%;
    height: 70vh;
    margin-top: 40px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 5rem;
    height: 6rem;
    margin: 10px;
    border-radius: 5px;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0;
}

/* computers card */
#computer-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}


#computers-card {
    
}

/* computer and players scores */
#scores {
    display: flex;
    width: 100%;
    justify-content: center;
}

/* players cards */
#users-div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-self: flex-end;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

#user1-card {
    order: 0;
}

#user2-card {
    order: 1;
}

#user3-card {
    order: 2;
}

/* button area */
#button-div {
    display: flex;
    justify-content: space-around;
}

#num-players-div {
    margin: 10px 10px;
}

.btn {
    font-weight: bold;
    border-radius: 5px;
    font-size: 1.5rem;
}

#num-players-div > .btn {
    width: 60px;
    height: 50px;
}

.btn--blue {
    background-color: #3399ff;
}

.btn--red {
    background-color: #ff3333;
}

.btn--green {
    margin: 10px 0;
    background-color: #00cc00;
}